* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

body {
    font-family: 'Uni Sans Heavy CAPS', sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

button {
    background: none;
    outline: none;
    border: none;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * WRAPPERS * * * * * * * * * * * * * * * * * * * * * * * * * */

.wrapper {
    max-width: 1200px;
    width: 100%;
    padding: 0 15px;
    margin: auto;
}

.wrapper-min {
    max-width: 960px;
    width: 100%;
    margin: auto;
}

.c-yellow {
    color: #f7ef07;
}

.bg-white {
    background: #fff;
}

.bg-black-photo {
    background: url('../images/header-bg.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * BUTTONS * * * * * * * * * * * * * * * * * * * * * * * * * */
.btn-bars {
    position: absolute;
    top: 30px;
    right: 30px;
    z-index: 10;
    height: 33px;
    width: 33px;
    display: none;
}

.btn-bars span {
    display: block;
    height: 3px;
    background: #fafafa;
    border-radius: 2px;
}

.btn-bars span {
    position: absolute;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

.btn-bars span:first-child {
    top: 5px;
    width: 33px;
}

.btn-bars span:nth-child(2) {
    margin-left: -11px;
    width: 33px;
    top: 12px;
}

.btn-bars span:nth-child(3) {
    width: 27px;
    top: 20px;
}

.btn-bars.active span {
    width: 33px;
}

.btn-bars.active span:first-child {
    top: 10px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.btn-bars.active span:nth-child(2) {
    opacity: 0;
}

.btn-bars.active span:last-child {
    top: 10px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.btn-dark {
    background: #2c2d32;
    color: #fff;
    text-transform: uppercase;
    font-weight: 800;
    padding: 0.75rem 2em;
    font-size: 24px;
    transition: 0.2s;
}

.btn-dark:hover {
    background: #161618;
}

.btn-white {
    background: #fff;
    color: #000 !important;
    font-weight: 800;
    text-transform: uppercase;
    padding: 5px 10px;
    transition: 0.2s;
}

.btn-white:hover {
    background: #ececec;

}

/* * * * * * * * * * * * * * * * * * * * * * * * * * HEADER * * * * * * * * * * * * * * * * * * * * * * * * * */

.header {
    min-height: 100vh;
    background: url('../images/header-bg.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

.navbar {
    border-bottom: 2px solid #242526;
}

.navbar .wrapper {
    display: flex;
    align-items: center;
    min-height: 65px;
    padding: 5px 15px;
    justify-content: space-between;
}

.menu ul {
    display: flex;
}

.menu ul li {
    margin: 0 15px;
}

.menu ul li a {
    color: #fff;
    font-size: 14px;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * HERO * * * * * * * * * * * * * * * * * * * * * * * * * */

.hero {
    height: 90vh;
    display: flex;
    align-items: center;
    padding: 50px 0;
}

.hero-bottom {
    display: flex;
    background: rgba(0, 0, 0, 0.4);
    padding: 30px;
    margin-top: 30px;
}

.hero-titles h1 {
    font-size: 40px;
    line-height: 60px;
}

.hero-titles h1:nth-child(2) {
    color: #fff;
}

.hero-text {
    padding: 15px;
    padding-left: 0;
}

.hero-text p {
    color: #fff;
    font-size: 18px;
    line-height: 30px;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * HERO * * * * * * * * * * * * * * * * * * * * * * * * * */

.tabs-section {
    background: url('../images/dots-bg.jpg');
    padding: 100px 0;
}


.hero-tabs {
    padding: 30px 80px;
}

.hero-tabs h2 {
    font-size: 30px;
    margin-bottom: 20px;
}

.hero-tab {
    padding: 10px 0;
}

.tab-toggler {
    min-width: 30px;
    max-width: 30px;
    height: 30px;
    background: #f7c607;
    content: '+';
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}

.tab-toggler span {
    color: #fff;
    font-size: 22px;
}

.tab-toggler span:last-child {
    display: none;
}

.hero-tab-heading.open .tab-toggler span:first-child {
    display: none;
}

.hero-tab-heading.open .tab-toggler span:last-child {
    display: inline;
}

.hero-tab-heading {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer
}

.hero-tab-heading h5 {
    font-size: 20px;
    color: #000;
    font-weight: 500;
}

.hero-tab-answer {
    display: none;
    padding-top: 10px;
}

.hero-tabs.bg-black-photo h2 {
    color: #fff;
}

.hero-tabs.bg-black-photo h5 {
    color: #fff;
}

.hero-tabs.bg-black-photo p {
    color: #fff;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * STATISTICS * * * * * * * * * * * * * * * * * * * * * * * * * */

.statistics {
    padding: 30px 0;
}

.statistics h2 {
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 800;
}

.about-numbers {
    display: flex;
    margin-top: 30px;
    flex-wrap: wrap;
    justify-content: center;
}

.about-number {
    width: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 50px;
}

.about-number-line {
    display: block;
    width: 80%;
    height: 2px;
    background: #f8c708;
}

.about-number span:first-child {
    font-size: 50px;
    margin-bottom: 20px;
}

.about-number span:nth-child(2) {
    height: 70px;
}

.about-number-photo {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    text-align: center;
    height: 100px;
    margin-top: 20px;
}

.statistics-bottom h2 {
    font-size: 30px;
    text-align: left;
    padding-left: 100px;
}

.statistics-bottom-cards {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 50px;
    flex-wrap: wrap;
}

.statistics-bottom-card {
    display: flex;
    width: 250px;
    padding: 10px;
    align-items: center;
    margin-bottom: 20px;
}

.statistics-bottom-card h3 {
    font-size: 20px;
    margin-left: 20px;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * EXPERIENCE * * * * * * * * * * * * * * * * * * * * * * * * * */

.experience {
    background: url('../images/header-bg.jpg') no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 50px;
}

.experience * {
    color: #fff;
}

.experience .wrapper {
    background: rgba(0, 0, 0, 0.4);
}

.experience-hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 80px;
}

.hero-teacher-photo img {
    width: 100%;
    object-fit: contain;
}

.experience-hero h2 {
    font-size: 40px;
    padding-right: 20px;
}

.hero-teacher {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

}

.hero-teacher-name {
    margin-top: 20px;
}

.experience-teachers {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.experience-teacher {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 10px;
    margin-bottom: 20px;
}

.experience-teacher h4 {
    margin-top: 10px;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * TARIFFS * * * * * * * * * * * * * * * * * * * * * * * * * */

.tariffs {
    padding: 50px 0;
}

.tariffs h2 {
    font-size: 40px;
    padding-left: 50px;
}

.tariffs-cards {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 50px 0;
}

.tariffs-card {
    background: #f8c708;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0.5em;
    width: 280px;
    margin-bottom: 20px;
}

.tariffs-card h4 {
    font-size: 30px
}

.tariffs .btn-dark {
    display: block;
    margin: auto;
    width: max-content;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * COURSE GET GOOD * * * * * * * * * * * * * * * * * * * * * * * * * */

.course-get {
    padding-top: 50px;
}

.course-get h2 {
    font-size: 40px;
}

.course-get-text {
    display: flex;
    justify-content: space-between;
    /* flex-wrap: wrap; */
}

.course-get ul {
    margin-top: 50px;
}

.course-get li img {
    /* width: 15px; */
    margin-right: 15px;

}

.course-get ul li {
    font-size: 20px;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.course-get-photo img {
    object-fit: contain;
    width: 100%;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * FOOTER * * * * * * * * * * * * * * * * * * * * * * * * * */

.footer {
    background: url('../images/header-bg.jpg') no-repeat;
    background-size: cover;
    padding: 50px 0;
}

.footer * {
    color: #fff;
}

.footer h2 {
    font-size: 40px;
    margin-bottom: 300px;
}

.footer-white-line {
    width: 100%;
    height: 3px;
    background: #fff;
}

.footer-footer {
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
}

.footer .btn-white {
    display: block;
    width: 280px;
    text-align: center;
}

.footer-menu ul {
    text-align: right;
    align-items: flex-end;
    justify-content: center;
}

.footer-column:nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-socials {
    display: flex;
    align-items: center;
    justify-content: center;

}

.footer-socials a {
    margin: 0 15px;
}


/* * * * * * * * * * * * * * * * * * * * * * * * * * MEDIA MAX 1366 * * * * * * * * * * * * * * * * * * * * * * * * * */

@media screen and (max-width: 1366px) {
    /* .hero {
        display: block;
        padding-top: 80px;
    } */
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * MEDIA MAX 1080 * * * * * * * * * * * * * * * * * * * * * * * * * */

@media screen and (max-width: 1080px) {
    .hero-titles h1 {
        font-size: 36px;
        line-height: 50px;
    }

    .hero-bottom {
        align-items: center;
    }

    .hero-text p {
        font-size: 16px;
    }

    .wrapper {
        max-width: 960px;
    }

    .hero-bottom {
        flex-direction: column;
    }

    .hero-video {
        width: 100%;
    }

    .hero-video iframe {
        width: 100%;
    }

    .hero {
        height: unset;
    }

    .hero-text {
        padding-top: 0;
    }
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * MEDIA MAX 992 * * * * * * * * * * * * * * * * * * * * * * * * * */

@media screen and (max-width: 992px) {
    .hero-titles h1 {
        font-size: 28px;
        line-height: 40px;
    }

    .experience-hero {
        padding: 50px 15px;
    }
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * MEDIA MAX 768 * * * * * * * * * * * * * * * * * * * * * * * * * */

@media screen and (max-width: 768px) {
    .wrapper {
        max-width: 720px;
    }

    .menu ul {
        position: fixed;
        background: rgb(0, 0, 0, 0.8);
        width: 100% !important;
        top: 0;
        right: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-transition: all 200ms;
        -o-transition: all 200ms;
        transition: all 200ms;
        opacity: 0;
        height: 100vh;
        visibility: hidden;
    }

    .menu ul.active {
        visibility: visible;
        opacity: 1;
    }

    .menu ul li {
        margin: 15px 0;
    }

    .menu ul li a {
        color: #fff;
        text-transform: uppercase;
        -webkit-transition: 0.2s;
        -o-transition: 0.2s;
        transition: 0.2s;
        font-size: 20px;
        cursor: pointer;
    }

    .menu ul li a:hover {
        text-decoration: line-through;
    }

    .btn-bars {
        display: block;
    }

    .hero-tabs {
        padding: 30px;
    }

    .hero-tab-heading h5 {
        font-size: 16px;
    }

    .tabs-section {
        padding: 20px 0;
    }

    .hero-tabs h2 {
        font-size: 24px;
    }

    .hero-tabs p {
        font-size: 14px;
    }

    .experience-hero {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .experience-hero h2 {
        padding-right: 0;
        font-size: 30px;
        margin-top: 10px;
    }

    .course-get-text {
        flex-direction: column;
        align-items: center;
    }
    .footer-footer {
        flex-direction: column;
        align-items: center;
    }

    .footer-column {
        margin-bottom: 50px;
    }
    .footer-socials {
        margin-top: 50px;
    }

    .footer-menu ul {
        align-items: center;
        text-align: center;
    }
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * MEDIA MAX 750 * * * * * * * * * * * * * * * * * * * * * * * * * */

@media screen and (max-width: 750px) {
    .hero-titles h1 {
        font-size: 24px;
        line-height: 30px;
    }

    .hero-text p {
        font-size: 14px;
        line-height: unset;
    }
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * MEDIA MAX 1366 * * * * * * * * * * * * * * * * * * * * * * * * * */

@media screen and (max-width: 576px) {
    .hero-video iframe {
        height: unset;
    }

    .experience {
        padding: 15px;
    }

    .statistics h2 {
        font-size: 24px;
    }

    .statistics-bottom h2 {
        padding-left: 20px;
    }

    .tariffs h2 {
        text-align: center;
        padding-left: 0;
    }

    .course-get h2 {
        font-size: 28px;
    }

    .course-get ul img {
        width: 20px;
    }

    .course-get ul li {
        font-size: 16px;
    }
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * MEDIA MAX 1366 * * * * * * * * * * * * * * * * * * * * * * * * * */

@media screen and (max-width: 375px) {
    .hero-tabs h2 {
        font-size: 22px;
    }
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * MEDIA MAX 1366 * * * * * * * * * * * * * * * * * * * * * * * * * */

@media screen and (max-width:) {}

/* * * * * * * * * * * * * * * * * * * * * * * * * * MEDIA MAX 1366 * * * * * * * * * * * * * * * * * * * * * * * * * */

@media screen and (max-width:) {}

/* * * * * * * * * * * * * * * * * * * * * * * * * * MEDIA MAX 1366 * * * * * * * * * * * * * * * * * * * * * * * * * */

@media screen and (max-width:) {}

/* * * * * * * * * * * * * * * * * * * * * * * * * * MEDIA MAX 1366 * * * * * * * * * * * * * * * * * * * * * * * * * */

@media screen and (max-width:) {}